body {
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #434455;
}
/*
.team {
    background-color: #F4F4FD;
}

#section4 .portfolio {
    line-height: 1.11px;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

#section4 .lists {
    height: 420px;
    text-align: center;

}

.bnkapp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
}

.medit app {
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.app{
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background-color: #2e2f42;
}

.logo {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.studio {
    color:#f4f4fd;
    line-height: 1.5;
}



.para {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5px;
}
*/    